#flag {
    position: relative;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 30%;
    border-radius: 20%;
}

#flag_caption {
    position: relative;
    margin: auto;
    width: 30%;
    height: 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 1.0);
    font-weight: 900;
}

.header1 {
    /* border: 5px solid yellow; */
    position: relative;
    margin:auto;
    left: auto;
    right: auto;
    border-collapse: collapse;
    border-spacing: 2.5px;
}
.header1 td {
    border: 2px solid yellow;
    border-collapse: collapse;
    padding: 10px;
    color: yellow;
    background-color: rgba(0, 0, 255, 0.5);
    border-spacing: 5px;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    font-size: 80%;
}
.header1 td:hover {
    background-color: rgba(255, 0, 0, 0.75);
    cursor: pointer;
}.header1 tr:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.header {
    /* border: 5px solid yellow; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    margin-bottom: 9%;
    left: 50%;
    transform: translateX(-50%);
    /* margin-bottom: 12%; */
    border-collapse: collapse;
    border-spacing: 2.5px;
}
.header td {
    border: 2px solid yellow;
    border-collapse: collapse;
    padding: 10px;
    color: yellow;
    background-color: rgba(0, 0, 255, 0.5);
    /* border-radius: 5px; */
    border-spacing: 5px;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    font-size: 80%;
}
.header td:hover {
    background-color: rgba(255, 0, 0, 0.75);
    cursor: pointer;
}.header tr:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.myTable, .myTable tr {
    border: 5px solid orangered;
    border-collapse: collapse;
    padding: 15px;
    color: orangered;
}

/* Menu style */
.menu {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 12%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-spacing: 0;
    /* position: absolute; */
}

.cname {
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin: 0;
    height: 100%;
    padding: 0;
    border-spacing: 0;
    vertical-align: middle;
}

.cname span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin: 0;
    height: 100%;
    top: 16%;
    padding: 0;
    border-spacing: 0;
    vertical-align: middle;
}

#pro {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 1.0);
    font-weight: 900;
    font-size: 50px;
    position: relative;
    vertical-align: middle;
}
#air {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 166, 0);
    font-weight: 900;
    font-size: 50px;
    position: relative;
    animation-name: air_animation;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    vertical-align: middle;
    transition: 0.3s;
}

@keyframes air_animation {
    0% {
        color: rgb(255, 255, 255);
    }

    50% {
        color: rgb(0, 162, 255);
    }

    100% {
        color: rgb(255, 166, 0);
    }
}

#home {
    display: inline-block;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 120%;
    margin-left: 15%;
    padding: 0;
    border-spacing: 0;
    vertical-align: middle;
    width: 10%;
    text-align: center;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1.0);
    box-shadow: inset 0 0 0 0 rgb(255, 166, 0);
    transition: 0.3s;
    border: 1.5px solid rgb(0, 162, 255);
}

#home a {
    text-decoration: none;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 1.0);
    display: inline-block;
}
#home:hover {
    box-shadow: inset 0 0 100px 0 rgb(255, 166, 0);
    cursor: pointer;
}

#bticket {
    display: inline-block;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 120%;
    margin-left: 5%;
    padding: 0;
    border-spacing: 0;
    vertical-align: middle;
    width: 10%;
    text-align: center;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1.0);
    box-shadow: inset 0 0 0 0 rgb(255, 166, 0);
    transition: 0.3s;
    border: 1.5px solid rgb(0, 162, 255);
}

#bticket:hover {
    box-shadow: inset 0 0 100px 0 rgb(255, 166, 0);
    cursor: pointer;
}

#login {
    display: inline-block;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 120%;
    margin-left: 5%;
    padding: 0;
    border-spacing: 0;
    vertical-align: middle;
    width: 10%;
    text-align: center;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1.0);
    box-shadow: inset 0 0 0 0 rgb(255, 166, 0);
    transition: 0.3s;
    border: 1.5px solid rgb(0, 162, 255);
}

#login:hover {
    box-shadow: inset 0 0 100px 0 rgb(255, 166, 0);
    cursor: pointer;
}

#ureg {
    display: inline-block;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 120%;
    right: 1%;
    top: 16%;
    padding: 0;
    border-spacing: 0;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1.0);
    box-shadow: inset 0 0 0 0 rgb(255, 166, 0);
    transition: 0.3s;
}
#ureg1 {
    display: inline-block;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 120%;
    right: 11%;
    top: 16%;
    padding: 0;
    border-spacing: 0;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1.0);
    box-shadow: inset 0 0 0 0 rgb(255, 166, 0);
    transition: 0.3s;
}

#logout_button {
    display: inline-block;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 120%;
    height: 70%;
    padding: 20px;
    margin-left: 5%;
    border-spacing: 0;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.0);
    right: 1%;
    top: 16%;
    text-align: center;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1.0);
    box-shadow: inset 0 0 0 0 rgb(255, 166, 0);
    transition: 0.3s;
    border: 1.5px solid rgb(0, 162, 255);
}

#logout_button:hover {
    box-shadow: inset 0 0 100px 0 rgb(255, 0, 0);
    cursor: pointer;
}

/* Formular */
#form {
    position: absolute;
    left: 25%;
    top: 25%;
    /* transform: translate(-25%, -25%); */
    width: 50%;
    /* height: 50%; */
    background-color: rgba(0, 153, 255, 0.75);
    border-radius: 30px;
}
#form p {
    color: rgb(255, 255, 255);
    margin-left: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    font-weight: 900;
}
#form h5 {
    color: rgb(255, 255, 255);
    position: relative;
    left: 50%;
    transform: translateX(-15%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    font-weight: 900;
}

#form a {
    color: rgb(200, 200, 200);
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

#form a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
}

#username {
    background-color: rgb(255, 255, 255);
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 240px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    height: 60px;
    border: none;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    text-align: center;
}
#password {
    background-color: rgb(255, 255, 255);
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 240px;
    height: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    text-align: center;
}

#nume {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 10px;
    width: 240px;
    height: 60px;
    position: relative;
    left: 19%;
    /* transform: translateX(-50%); */
    border: none;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    text-align: center;
}

#prenume {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 10px;
    width: 240px;
    height: 60px;
    position: relative;
    left: 19%;
    /* transform: translateX(-50%); */
    border: none;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    text-align: center;
}

#login_button {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 120%;
    height: 70%;
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    border-spacing: 0;
    background-color: rgb(0, 170, 57);
    text-align: center;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1.0);
    transition: 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
}

#show_tickets_button {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 120%;
    height: 70%;
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    border-spacing: 0;
    background-color: rgb(0, 170, 57);
    text-align: center;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1.0);
    transition: 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
}

#tara, #tara option {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 39%;
    height: 40px;
    position: relative;
    left: 20%;
    transform: translateX(-50%);
    border: none;
    font-size: 10px;
    font-weight: 900;
    border-radius: 10px;
    text-align: center;
}

#oras, #oras option {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 39%;
    height: 40px;
    position: relative;
    left: 20%;
    transform: translateX(-50%);
    border: none;
    font-size: 10px;
    font-weight: 900;
    border-radius: 10px;
    content: '\A';
    white-space: pre;
    text-align: center;
}

#tara1, #tara1 option {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 39%;
    height: 40px;
    position: relative;
    left: 20%;
    transform: translateX(-50%);
    border: none;
    font-size: 10px;
    font-weight: 900;
    border-radius: 10px;
    text-align: center;
}

#oras1, #oras1 option {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 39%;
    height: 40px;
    position: relative;
    left: 20%;
    transform: translateX(-50%);
    border: none;
    font-size: 10px;
    font-weight: 900;
    border-radius: 10px;
    text-align: center;
}

#data_plecare {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 39%;
    height: 40px;
    position: relative;
    left: 20%;
    transform: translateX(-50%);
    border: none;
    font-size: 15px;
    font-weight: 900;
    border-radius: 10px;
    text-align: center;
    content: '\A';
    white-space: pre;
    text-align: center;
}

#form span {
    color: rgb(255, 255, 255);
    margin-left: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    font-weight: 900;
}

.footer {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 9%;
    bottom: 0;
    padding: 0;
    border-spacing: 0;
    position: fixed;
    margin-top: 40px;
}
