html, body {
    margin: 0;
    padding: 0;
    background-image: url('../bkg3.png');
    background-repeat: repeat;
    /* background-size: cover; */
}

.body {
    /* background-color: rgba(0, 0, 0, 1.0); */
    /* position: relative; */
    /* width: 80%;
    height: 100%; */
    /* margin: 0; */
    /* display: inline-block;
    animation: background-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    margin: 0;
    padding: 0;
}

.content {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 0;
    top: 12%;
}

@keyframes background-animation {
    0% {
        background-color: rgba(0, 0, 0, 1.0);
    }

    25% {
        background-color: rgba(0, 0, 0, 0.75);
    }

    50% {
        background-color: rgba(0, 0, 0, 0.5);
    }

    75% {
        background-color: rgba(0, 0, 0, 0.25);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.0);
    }
}

.leftPanel {
    background-color: orange;
    position: relative;
    width: 10%;
    height: 100%;
    float: left;
    margin-left: 0;
    margin-top: 0;
    border-color: red;
    border-radius: 1em;
    color: red;
}

.rightPanel {
    background-color: orange;
    position: relative;
    width: 10%;
    height: 100%;
    margin-right: 0;
    float: right;
    margin-top: 0;
    border-color: red;
    border-radius: 1em;
    color: red;
}
